/DrawAndCut/lib/Universal-G-Code-Sender/lib/*.jar
/DrawAndCut/lib/Universal-G-Code-Sender/ugs-core/src/resources/pendantUI/
/DrawAndCut/lib/Universal-G-Code-Sender/ugs-core/src/resources/*.ttf
/DrawAndCut/dist/
DrawAndCut/build/
DrawAndCut/nbproject/private/
DrawAndCut/output.nc
DrawAndCut/lib/Universal-G-Code-Sender.success-Ken-demo/
DrawAndCut/lib/Universal-G-Code-Sender/lib/natives/arm/libgluegen-rt.so
DrawAndCut/lib/Universal-G-Code-Sender/lib/
DrawAndCut/lib/zxing/*.jar
DrawAndCut/*.nc
