#controlPane {
    -fx-background-color: white;
}

.button, 
.toggle-button {    
    -fx-content-display: top;
    -fx-graphic-text-gap: 8;
    -fx-background-color: white;
}

.button:armed, 
.toggle-button:armed, 
.toggle-button:selected {
    -fx-background-color: D5E6ED;
}

.button:hover, 
.toggle-button:hover {
    -fx-background-color: F2F7F9;
}

#scan {
    -fx-graphic: url("ui/icons/qr-code-scan.png");
}
#draw {
    -fx-graphic: url("ui/icons/draw.png");
}
#load {
    -fx-graphic: url("ui/icons/open-file-button.png");
}
#exit {
    -fx-graphic: url("ui/icons/exit.png");
}
#cut {
    -fx-graphic: url("ui/icons/drilling-machine.png");
    -fx-font-weight: 800;
    -fx-border-style: dashed;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-border-color: BECED5;
}
#cut:disabled {
    -fx-border-width: 0;
}