#controlPane,
#flowPane, 
#exitPopup {
    -fx-background-color: white;
}

#drawPane, #shapesPane, #scannerPane {
    -fx-background-color: #5382A1;
}

.svg-path {
    -fx-fill: #7999AC;
}

.button, 
.toggle-button {    
    -fx-content-display: top;
    -fx-graphic-text-gap: 8;
    -fx-background-color: white;
}

.button:armed, 
.toggle-button:armed, 
.toggle-button:selected {
    -fx-background-color: D5E6ED;
}

.button:hover, 
.toggle-button:hover {
    -fx-background-color: F2F7F9;
}
#exitPopup {
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-border-color: #5382A1;
}
#exitPopup .button,
#controlPane .button,
#controlPane .toggle-button,
#controlPane>VBox {
    -fx-pref-width: 100;
    -fx-pref-height: 70;
}
#scan {
    -fx-graphic: url("ui/icons/qr-code-scan.png");
}
#draw {
    -fx-graphic: url("ui/icons/draw.png");
}
#load {
    -fx-graphic: url("ui/icons/open-file-button.png");
}
#exit {
    -fx-graphic: url("ui/icons/exit.png");
}
#restart {
    -fx-graphic: url("ui/icons/restart.png");
}
#reboot {
    -fx-graphic: url("ui/icons/reboot.png");
}
#poweroff {
    -fx-graphic: url("ui/icons/poweroff.png");
}
#cut {
    -fx-graphic: url("ui/icons/drilling-machine.png");
    -fx-font-weight: 800;
    -fx-border-style: dashed;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-border-color: BECED5;
}
#cut:disabled {
    -fx-border-width: 0;
}

#nextButton,
#prevButton {
    -fx-content-display: graphic-only;
    -fx-background-color: white;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
}
#nextButton:hover,
#prevButton:hover {
    -fx-background-color: #D5E6ED;
}
#nextButton:armed,
#prevButton:armed {
    -fx-background-color: #7999AC;
}
#nextButton {
    -fx-shape: "M8 16c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8zM9.6 7l-1.8-1.8 1.4-1.4 4.2 4.2-4.2 4.2-1.4-1.4 1.8-1.8h-6.6v-2h6.6z";
}
#prevButton {
    -fx-shape: "M8 0c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM6.4 9l1.8 1.8-1.4 1.4-4.2-4.2 4.2-4.2 1.4 1.4-1.8 1.8h6.6v2h-6.6z";    
}